div class="web-1920-1screen">
  <div class="flex-row">
        <div class="search-button">
      <textarea
        class="search"
        name="search1"
        placeholder="Search"
        type="text"
        required=""
      ></textarea
      ><img class="icon-map-search" src="icon-map-search.png" alt="Icon map-search" />
    </div>
    <div class="component-4-1">
      <h1 class="title">My Account</h1>
    </div>
    <div class="dashboard">
      <div class="dashboard-1">Dashboard</div>
    </div>
  </div>
  <div class="overlap-group1">
    <p class="need-a-new-password">
      Need a new password? Just enter your old one and <br />confirm a new one!
    </p>
  </div>
  <div class="overlap-group">
    <div class="component-container">
      <div class="component-5-1">
        <input
          class="old-passwordsegoeui-regular-normal-black-30px"
          name="old-password1"
          placeholder="Old Password"
          type="password"
          required=""
        />
      </div>
      <div class="component-6">
        <input
          class="new-passwordsegoeui-regular-normal-black-30px"
          name="new-password1"
          placeholder="New Password"
          type="password"
          required=""
        />
      </div>
    </div>
    <div class="component-6-2component-6">
      <input
        class="confirm-new-passwordsegoeui-regular-normal-black-30px"
        name="confirm-new-password1"
        placeholder="Confirm New Password"
        type="password"
        required=""
      />
    </div>
    <div class="component-8-1">
      <div class="submitsegoeui-regular-normal-black-30px">Submit</div>
    </div>
  </div>
</div>

